assertpy==1.1
exceptiongroup==1.2.2
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
pytest==8.3.2
tomli==2.0.1
allure-pytest==2.13.5
typing_extensions~=4.9.0
randominfo~=2.0.2
pytz~=2024.2
pillow~=10.4.0
Flask~=3.0.3
requests~=2.32.3
SQLAlchemy~=2.0.35
python-dotenv~=1.0.1
Flask-JWT-Extended~=4.6.0
lxml~=5.3.0
selenium~=4.17.2
allure-python-commons~=2.13.5
psycopg2-binary~=2.9.9